{% extends 'cake/homebase.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}


 

  <!--- signup page for doctor by admin(sumit)  ---------->
  <form method="post" action="{% url 'CakeOrderUpdateData' %}" enctype="multipart/form-data">
    {{ Cake_Order_Form }}
  
    {% csrf_token %}
    <div class="container register-form">
      <div class="card card-primary">
        <div class="card-header">
          <p>Update In CakeOrder</p>
        </div>
       
        <div class="card-body">
          <input  type="hidden" name="ID" value="{{Ed.id}}">

          <div class="">
            <div class="row">
              <div class="col-sm-3">
                <label>To</label>
              {% render_field CakeOrderForm.To class="form-control" placeholder="To" value=Ed.To %}
              </div>
              <div class="col-sm-3">
                <label>From</label>
                {% render_field CakeOrderForm.From class="form-control" placeholder="From" value=Ed.From %}
              </div>
              <div class="col-sm-3">
                <label>Guest Name</label>
                {% render_field CakeOrderForm.Guest_Name class="form-control" placeholder="Guest Name" value=Ed.Guest_Name %}
              </div>
              <div class="col-sm-3">
                <label>To Be Prepared For</label>
                {% render_field CakeOrderForm.To_Be_Prepared_For class="form-control" placeholder="To_Be_Prepared_For" value=Ed.To_Be_Prepared_For %}
              </div>
              <div class="col-sm-3">
                <label>Size</label>
                {% render_field CakeOrderForm.Size class="form-control" placeholder="Size"  value=Ed.Size %}
              </div>
            
              <div class="col-sm-3">
                <label>Date</label>
                {% render_field CakeOrderForm.Date required="required" class="form-control" placeholder="Date" value=Ed.Date %}
              </div>
             <div class="col-sm-3">
              <label>Time</label>
                {% render_field CakeOrderForm.Time required="required" class="form-control" placeholder="Time" value=Ed.Time %}
              </div>
              <div class="col-sm-3">
                <label>Type Of Cake</label>
                {% render_field CakeOrderForm.Type_Of_Cake  required="required" class="form-control"  placeholder="Type_Of_Cake" value=Ed.Type_Of_Cake %}
              </div>
              <div class="col-sm-3">
                <label>Required Time</label>
                {% render_field CakeOrderForm.Required_Time required="required" class="form-control" placeholder="Required_Time" value=Ed.Required_Time %}
              </div>
            
              <div class="col-sm-3">
                <label>Required Date</label>
                {% render_field CakeOrderForm.Required_Date class="form-control" placeholder="Required_Date" value=Ed.Required_Date %}
              </div>
              <div class="col-sm-3">
                    <label>Packing</label>
                {% render_field CakeOrderForm.Packing required="required" class="form-control" placeholder="Packing" value=Ed.Packing %}
              </div>
              <div class="col-sm-3">
                <label>Message On Cake</label>
                {% render_field CakeOrderForm.Message_On_Cake required="required" class="form-control" placeholder="Message_On_Cake" value=Ed.Message_On_Cake%}
              </div>
              <div class="col-sm-3">
                <label>Selling Price</label>
                {% render_field CakeOrderForm.Selling_Price required="required" class="form-control" placeholder="Selling_Price" value=Ed.Selling_Price%}
              </div>
              <div class="col-sm-3">
                <label>Complimentory</label>
                {% render_field CakeOrderForm.Complimentory required="required" class="form-control" placeholder="Complimentory" value=Ed.Complimentory%}
              </div> 
              <div class="col-sm-3">
                <label>Authorised By</label>
                {% render_field CakeOrderForm.Authorised_By required="required" class="form-control" placeholder="Authorised_By" value=Ed.Authorised_By%}
              </div> 

            </div>
          </div>
         
         {% comment %} <div class="text-center">Already have an account? <a href="doctorlogin">Login here</a></div> {% endcomment %}
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </div>
    </div>


    <script>
      $(function(){
              $("select").each(function(){
                  var v=$(this).attr('value');
                  if(v!=undefined){
                      $(this).val(v);
                  }
              })
  
      })
     </script>
   
  {% endblock content %}
 
