
{% load static %}


{% block content %}
<style>
  table td,table th{
    border:1px solid #434568 !important;
    padding:5px;
  }

  table th{
    text-align:justify !important;
    background-color:#dedede;
    color:#434568;
    width:200px;
    font-size: 20px;
  }

  p {     
    margin: 0 !important;
    font-family: Arial Nova; 
  }

  #data p,
  #data span,
  #data div,
  #data td {
    text-align: justify !important;
    font-size: 20px !important;
  }

</style>

<td></td>
<DIV id="data">
  
{{Ed.data | safe }}
</DIV>

{% endblock content %} 

