{% comment %}
                <li class="list-unstyled"><a href="/Shoe_issue/add">Add</a></li>
                {% endcomment %}
                <li class="list-unstyled"><a href="/NewProgram/Master_list"> BOH Admin</a></li>

                {% comment %}
                <li class="list-unstyled">
                  <a href="/NewProgram/add_project">Add Project</a>
                </li>
                {% endcomment %}

                <li class="list-unstyled">
                  <a href="/NewProgram/list_project">BOH List</a>
                </li>
                <li class="list-unstyled">
                  <a href="/NewProgram/Front_admin_list">FOH Admin</a>
                </li>
                <li class="list-unstyled">
                  <a href="/NewProgram/Front_list">FOH List</a>
                </li>