
{% load static %}


{% block content %}
<style>
  
  table td,table th{
    border:1px solid #434568 !important;
    padding:5px;font-family: Arial Nova;
    ;
  }
  table th{
    text-align:left;
    background-color:#dedede;
    color:#434568;
    width:200px;font-family: Arial Nova;
  }


  p {     margin: 0 !important;
    
    font-family: Arial Nova;font-size: 11px; }
    .noborder,.noborder td {
      border-width: 0px;
      
          }
          
          table,table td,table,table th{font-family: Arial Nova;font-size: 10px;padding:3px;}

          h2{text-align: center;}
</style>
<DIV>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  {{header | safe}}  
{{Ed.data | safe }}
</DIV>

    {% endblock content %} 

