{% extends 'EMP_PAY/homebase.html' %}


{% block content %} 

<div class="cotainer">
    <div class="container text-center">
        {% for message in messages %} {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">{{ message|safe }}</div>
        {% else %}
        <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
        {% endif %} {% endfor %}
      </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Attendace Process</div>
            <br>
            <div class="row">
                <div class="col-md-12"> 
                    <form method="post" class="d-flex">
                        <div class="form-group m-2">
                            <div class="input-wrapper">
                                <input type="date" name="Start_Date" id="Start_Date" value="{% if Start_Date %}{{ Start_Date|date:'Y-m-d' }}{% else %}{% now 'Y-m-d' %}{% endif %}" class="form-control">
                                <label for="Start_Date">From</label>
                            </div>
                        </div>
                        <div class="form-group m-2">
                            <div class="input-wrapper">
                                <input type="date" name="To_Date" id="To_Date" value="{% if To_Date %}{{ To_Date|date:'Y-m-d'  }}{% else %}{% now 'Y-m-d' %}{% endif %}" class="form-control" >
                                <label for="To_Date">To</label>
                            </div>
                        </div>
                        <div class="form-group m-1">
                             <input type="submit" value="Create" class="btn btn-primary">
                          {% csrf_token %}
                        </div>
                  
                </div>
            </div>
            
<br>

            <div class="card-main">
               
           
                    <table id="example" class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="check" class="checkBox selectAll"> Select All</th>
                                <th>Emp Code</th>
                                <th>Emp Name</th>
                                <th>Department</th>
                                <th>Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emp in Emp_list %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="all_emp_codes[]"  class="checkBox" value="{{ emp.EmployeeCode }}">
                                    </td>
                                    <td>{{ emp.EmployeeCode }}</td>
                                    <td>{{ emp.FirstName }} {{ emp.MiddleName }} {{ emp.LastName }}</td>
                                    <td>{{ emp.Department }}</td>
                                    <td>{{ emp.Designation }}</td>

                                </tr>
                                {% if forloop.last %}
                                <input  type="hidden" name="Total_emd_id" value="{{ forloop.counter0 }}"/>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
            </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    

    <script>
        $(document).ready(function() {
            /*
            var table = $("#example").DataTable({
                "paging": true,
                "searching": true,
                "order": [],
               
            });
    */
            
           
        });
        
  
    $(document).ready(function () {
        $(".selectAll").on("change", function () {
            $(".checkBox").prop("checked", $(this).prop("checked"));
        });
    });
</script>


{% endblock %}