

<!-- New - Example Element Element -->
<div class="nav-element-container d-flex gap-4">
    <!-- <li class="list-unstyled"><a href="/Leave_Management_System/Employee_Dashboard/" class="nav-link text-white">Dashboard</a></li> -->

    <!-- Nav - Element -->
    <!-- <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span>Application</span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Leave_Application/">New Leave</a>
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Leave_Status/">Leave Status</a>
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Approval_list/">Approval List</a>
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/CompOffRequest/">Comp Off Claim</a>
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/CompOffClaim_Status/">Comp Off Status</a>
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/CompOfffApproval_list/">Comp Off Approval List</a>
        </div>
    </li> -->

    <!-- Nav - Element -->
    <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span>Reports</span>
        </a>
        <div class="dropdown-menu">
            {% comment %} <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/">Attendace</a>
            <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Leave_Status/">Leave</a>
            <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/Payroll_List">Salary Slip</a> {% endcomment %}

            <a class="dropdown-item dropdown-item-color" href="{% url "Daily_Attendace" %}">Daily Attendance Report</a>
            <a class="dropdown-item dropdown-item-color" href="{% url "AttendaceMonthlyReport" %}">Monthly Attendance Report</a>
            <a class="dropdown-item dropdown-item-color" href="{% url 'Audit_Attendance_Report' %}">Audit Attendance Report</a>
        </div>
    </li>


    <!-- Restriction starts from here - - - - - - - - - -  - - - -->
    {% if  request.session.Department_Name|lower == "hr" %}
        <!-- PayRoll - Nav - Element -->
        <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span>Attendance</span>
            </a>
            <div class="dropdown-menu">
                {% comment %} <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/Daily_Attendace/">Daily Attendance</a> {% endcomment %}
                {% comment %} <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/AttendaceMonthlyReport/">Monthly Attendance</a> {% endcomment %}
                <a class="dropdown-item dropdown-item-color" href="{% url "View_Attendance" %}">View Attendance</a>
                <a class="dropdown-item dropdown-item-color" href="{% url "index" %}">Week Off</a>
                <a class="dropdown-item dropdown-item-color" href="{% url "AttendanceProcess" %}">Advance Attendance Posting</a>
            </div>
        </li>
        <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span>Payroll</span>
            </a>
            <div class="dropdown-menu">
                <!-- <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/Employees_Payroll_List/">Payroll Manage</a> -->
                <!-- <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/SalaryList/">Salary Verification</a> -->
                <a class="dropdown-item dropdown-item-color" href="{% url 'MoveToPayroll' %}">Move To Payroll</a>
                <a class="dropdown-item dropdown-item-color" href="{% url 'Attendance_Lock_Payroll' %}">Attendance Lock</a>
                <a class="dropdown-item dropdown-item-color" href="{% url 'Generte_Salary_View' %}">Generate Salary</a>
                <a class="dropdown-item dropdown-item-color" href="{% url 'Verify_Salary_Slip' %}">Verify Salary</a>

            </div>
        </li>
        <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span>Old Payroll</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/Employees_Payroll_List/">Payroll Manage</a>
                <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/SalaryList/">Salary Verification</a>
                <a class="dropdown-item dropdown-item-color" href="/Employee_Payroll/Payroll_List">Salary Slip</a>

            </div>
        </li>


        <!-- Leave - -  Nav - Element -->
        <!-- <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span>Leave</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Hr_Dashboard/">HR Dashboard</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/HolidayList/">Holiday List</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Leave_Process/">Leave Process</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/LeaveProcessDetails/">Leave Process Final</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Employee_Leave_Balance/">Employee Leave Balance</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Employee_Leave_Apply/">Employee Leave Apply</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Employee_Leave_Status/">Employee Leave Status</a>
            </div>
        </li> -->


        <!-- Master Report - -  Nav - Element -->
        <!-- <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span>Master Report</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Master_Leave_Status/">Master Leave Reports</a>
                <a class="dropdown-item dropdown-item-color" href="/Leave_Management_System/Master_AR_Reports/">Master AR Reports</a>
            </div>
        </li> -->

    {% endif %} 

    <!-- Alif Attendace - - - Nav - Element -->
    {% if request.session.OrganizationID == '401' or request.session.OrganizationID == '20180612060935' %}
        {% if request.session.Department_Name|lower == "hr" %}
            <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                    <span>Alif Attendace</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item dropdown-item-color" href="{% url "Alifupload_csv" %}">Alif Attendace</a>
                </div>
            </li>
        {% endif %} 
    {% endif %} 

    <!-- Organization - - -  Nav - Element -->
    {% if  request.session.OrganizationID == '3'  %} 
        <li class="list-unstyled"><a href= "{% url 'OrgConfigList'%}" class="nav-link text-white">Organization</a></li>
    {% endif %} 

    <!-- Salary Verification - - -  Nav - Element -->
    {% if  request.session.Department_Name|lower == "finance" %}  
        {% comment %} <li class="list-unstyled"><a href= "{% url 'SalaryList' %}" class="nav-link text-white">Salary Verification</a></li> {% endcomment %}
        <a class="dropdown-item dropdown-item-color" href="{% url 'Verify_Salary_Slip' %}">Verify Salary</a>
    {% endif %} 


    <!-- Master - - -  Nav - Element -->
    <!-- {% if   request.session.UserID == "20210206173426"  or request.sesion.UserID  == "20201212175519"  %}
        <li class="nav-item dropdown has-arrow main-drop list-unstyled text-white">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span>Master</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item dropdown-item-color" href="{% url 'Leave_Type_List' %}">Leave Type Master</a>
                <a class="dropdown-item dropdown-item-color" href="{% url 'National_Holidays_List' %}">National Holidays </a>
                <a class="dropdown-item dropdown-item-color" href="{% url 'Optional_Holidays_List' %}">Optional Holidays</a>
            </div>
        </li>
    {% endif %} -->

</div>