@font-face {
    font-family: 'Arial Nova';
    src: url("https://hotelops.in:8080/static/ceodashboard/fonts/ArialNova.woff2")
format('woff2'),
    url("https://hotelops.in:8080/static/ceodashboard/fonts/ArialNova.woff")
format('woff'),
    url("https://hotelops.in:8080/static/ceodashboard/fonts/ArialNova.ttf")
format('truetype');
    font-weight: normal !important;
    font-style: normal !important;
}



* {
    font-family: 'Arial Nova', sans-serif ;
}

body {
    font-family: 'Arial Nova';
    font-weight: normal;
    font-style: normal;
    margin: 0;
}
.btn-group{

    margin-right: 10px;

}
.ofm{
    height: 350px;
    overflow: auto;
}

.ibox-title {
    padding-right: 0px !important;
    background-color: #cef4d8 !important;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ibox-title h5 {
    font-size: 15px;
    font-weight: 400 !important;
    font-style: normal !important;
}

.tooltip1 {
    height: 24px;
    width: 150px;
    position: absolute;
    background-color: #ffffffd8;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    pointer-events: none;
    display: none;
    z-index: 10;
    border: 1px solid rgb(51, 51, 51);
}

.ibox-content h1 {
    font-size: 24px !important;
}

.echarts-container {
    height: 300px;
    width: 100%;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* @media (max-width: 600px) {
.echarts-container {
display: block;
height: 200px !important;

overflow-y: scroll;
}

.st_Approved
} */


.st_Approved{
    background-color:  #1ab394;;
    
}

.my-custom-event {
    padding: 0px;
    background-color: rgb(58,135,173);
    color: white !important;
    border: 1px solid #20243b;
    border-radius: 5px;
    font-size: 9px;
}

.fc-event-title {
    color: white;
}

.fc-event-time {
    display: none;
}


#fc-dom-1 {
    position: absolute;
    margin-top: 16px;
    font-size: 0.75 rem;
    font-size: 16px;
    margin-left: -62px;
}

.fc-button {
    padding: 3px !important;
}

.calendar-container {
    padding-top: 5px;
    height: 285px;
    background-color: white;
}

.fc .fc-button-primary {
    background-color: rgb(244, 244, 244) !important;
    color: rgb(51, 51, 51) !important;
    padding-bottom: 23px;
    border-radius: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #d4dde6;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: rgb(204, 204, 204) !important;
    border-radius: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #d4dde6;
    color: rgb(51, 51, 51) !important;

}

.fc .fc-button-primary:disabled {
    background-color: rgb(239, 239, 239) !important;
    color: rgb(51, 51, 51) !important;
    border-color: #d4dde6;
}

.fc .fc-view-harness {
    margin-top: 7px;
}

.AcceptCircle {
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.RejectCircle {
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
@media (max-width: 600px) {
.ibox-title {
flex-direction: column;
align-items: flex-start;
}


}
@media (max-width: 600px) {
.col-sm-1 {
    margin-left: 15px;
    margin-bottom: 5px;
} 
}
.loader-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.8); 
z-index: 9999; 
}


.loader {
border: 8px solid #f3f3f3; 
border-top: 8px solid #3498db; 
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 1s linear infinite;
}


@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
