{% extends "agreement/homebase.html" %} {% block content %}

<style>
  table th {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
  }

  td {
    text-align: center;
    font-size: 12px;
  }

  body {
    font-family: arial nova;
  }

  /* Reduce padding and font size for smaller table */
  #example {
    font-size: 10px;
    padding: 5px;
  }

  /* Optional: Make table responsive for smaller screens */
  @media only screen and (max-width: 600px) {
    #example {
      font-size: 12px;
    }
  }
</style>
<div class="col-md-12 mx-auto">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6" style="color: #1ab394">
        <strong>HOTEL MANAGEMENT AGREEMENT </strong>
      </div>
    </div>
  </div>
  <br />
  <div class="row justify-content-end">
    <div class="col-auto">
      <a
        href="{% url 'Child_articleadd' %}?ID={{c_id}}"
        class="btn btn-primary"
      >
        ADD CHILD ARTICLE
      </a>
    </div>
  </div>
  <br />

  <br />
  <table id="example" class="table table-bordered">
    <thead class="thead">
      <tr class="table-success">
        <th style="width: 120px">ARTICLE Number</th>
        <th style="width: 150px">SUB ARTICLE Number</th>
        <th style="width: 150px">Child Article Number</th>

        <th>CHild ARTICLE</th>
        <th>SubCHild ARTICLE</th>
        <th style="width: 100px">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for childlists in childlists %}
      <tr>
        <td>{{ childlists.Master_subartical.Master_title.artical_number }}</td>
        <td>{{ childlists.Master_subartical.subartical_number}}</td>
        <td>{{ childlists.childartical_number}}</td>
        <td>{{ childlists.child_artical}}</td>
        <td>
          <a href="{% url 'subchild_list'  %}?ID={{childlists.id}}"
            >Subchild Article</a
          >
        </td>
        <td>
          <a
            href="{% url 'Child_articleadd' %}?CT_ID={{childlists.id}}&ID={{childlists.Master_subartical.Master_title.id}}&ID={{childlists.Master_subartical.id}}"
            class="fa fa-edit"
            style="color: blue"
          ></a>

          <a
            onclick="return confirm('Are you sure you want to delete? ')"
            href="{% url 'child_delete'  %}?ID={{childlists.id}}"
          >
            <i class="fa fa-trash-o" style="font-size: 15px; color: red"></i>
            <span style="color: red"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function () {
    var table = $("#example").DataTable({
      paging: true,
      searching: true,
      order: [],
      columnDefs: [{ targets: "_all", className: "text-center" }],
    });
  });
</script>
{% endblock content%}
