<!-- New - Example Element Element -->
<div class="nav-element-container d-flex gap-4">
        <!-- New - Element -->
    {% comment %}
    <li><a href="/Shoe_issue/add">Add</a></li>
    {% endcomment %}
    <li class="list-unstyled"><a href="/Guest_reviews/reviews_list" class="nav-link dropdown-main-color text-white"> List</a></li>

    {% comment %}
    <li>
        <a href="/Guest_reviews/reviews_add">Add</a>
    </li>
    {% endcomment %}
    <li class="list-unstyled">
        <a href="/Guest_reviews/Gm_list" class="nav-link dropdown-main-color text-white"> Report list</a>
    </li>
    <!-- New - Element -->
    <!-- <li class="nav-item dropdown has-arrow main-drop list-unstyled ">
        <a href="#" class="dropdown-toggle nav-link dropdown-main-color text-white" data-bs-toggle="dropdown">
            <span>demo</span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
        </div>
    </li> -->
    
</div>
