
<!DOCTYPE html>

{% load encryption_filters %}

<html>
<head>

<style>
    body { 
        font-family: Arial, sans-serif; 
        font-size: 12px; 
    }
    table { 
        width: 100%; border-collapse: collapse; 
        margin-bottom: 10px; 
    }

    .no-border { 
        border: none; 
    }
    .remarks { 
        height: 5px; 
    }
    .rating-cell { 
        width: 10%; 
        text-align: center; 
    }
    
    table td,table th{
        padding:5px;
        vertical-align: top; 
    }

    {% comment %} table th{
        text-align:left;
        background-color:#fbfbfb;
        color:#333;
    } {% endcomment %}


   h4 {
        text-align: center;
        width: 100%;
        background-color: #edf0fb;
        color: black;
        padding: 18px 8px 8px 8px;
        margin: 0 auto;
        vertical-align: middle;
        font-size: 15px;
        margin-bottom: 5px;
        border-color: gray;
    } 

    {% comment %} .FactorDetails th{
        background-color: #edf0fb;
        text-align: center;
        vertical-align: middle;
    } {% endcomment %}

</style>

</head>
<body>

    <div id="headings">
        <h4>INTERVIEW ASSESSMENT SHEET</h4>
    </div>

    <table style="border:0.3px solid black; border-collapse: collapse; border-color: gray;" id="PersonalDetails">
        <tr>
            <td style="width:90"><strong>Hire</strong><br>{{ AM_obj.HireFor }}</td>
            <td style="width:180"><strong>Applied For</strong><br>{{ AM_obj.OrganizationName }}</td> 
            <td><strong>Name</strong><br>{{ AM_obj.Prefix }} {{ AM_obj.Name }}</td>
            <td><strong>Contact Number</strong><br>{{ AM_obj.ContactNumber }}</td>
            
        </tr>
        <tr>
            <td><strong>Date of Interview</strong><br>{{ AM_obj.InterviewDate|date:"d-m-Y" }}</td>
            <td style="width:180"><strong>Position Applied For</strong><br>{{ AM_obj.position }} - {{ AM_obj.Department }}</td>
            <td><strong>Department</strong><br>{{ AM_obj.Department }} - ({{ AM_obj.Level }})</td>
            
            <td>
                <strong>Work Experience</strong>
                <br>
                {{ AM_obj.workexperience }}
            </td>
            
        </tr>
        <tr>
            <td colspan="4"><strong>Family Background:</strong><br>{{ AM_obj.familybackground }}</td>
        </tr>
        <tr>
            <td><strong>Present CTC:</strong><br>{{ AM_obj.pre_salary }}</td>
            <td><strong>Expected CTC:</strong><br>{{ AM_obj.exp_salary }}</td>
            <td colspan="2"><strong>Proposed DOJ:</strong><br>{{ AM_obj.ProposedDOJ|date:"d-m-Y" }}</td>
        </tr>
    </table>

    <table style="border:0.3px solid black; border-collapse: collapse; border-color: gray;" id="PersonalDetails">
        <tr>
            {% if 'HR' in UserList %}
                <td><strong>HR</strong>: {{ AM_obj.hr_as }}<br> {{ AM_obj.hr_as_remarks }}</td>
            {% endif %}
            {% if 'HOD' in UserList %}
                <td><strong>HOD</strong>: {{ AM_obj.hod_as }}<br> {{ AM_obj.hod_as_remarks }}</td>
            {% endif %}
            {% if 'GM' in UserList %}
                <td><strong>GM</strong>: {{ AM_obj.gm_as }}<br> {{ AM_obj.gm_as_remarks }}</td>
            {% endif %}
            {% if 'RD' in UserList %}
                <td><strong>RD</strong>: {{ AM_obj.rd_as }}<br> {{ AM_obj.rd_as_remarks }}</td>
            {% endif %}
            {% comment %} {% if 'CEO' in UserList %}
                <td><strong>CEO</strong>:{{ AM_obj.ceo_as }}<br> {{ AM_obj.ceo_as_remarks }}</td>
            {% endif %}  {% endcomment %}
        </tr> 
    </table>


    <table  style="border:0.3px solid black;  border-collapse: collapse; border-color: gray;" id="FactorDetails">
        <thead>
            <tr>
                <th style="background-color: #edf0fb; text-align: left;" >FACTOR</th>
                {% if 'HR' in UserList %}
                    <th style="background-color: #edf0fb; text-align: center;" width="90">HR</th>
                {% endif %}
                {% if 'HOD' in UserList %}
                    <th style="background-color: #edf0fb; text-align: center;" width="90">HOD</th>
                {% endif %}
                {% if 'GM' in UserList %}
                    <th style="background-color: #edf0fb; text-align: center;" width="90">GM</th>
                {% endif %}
                {% if 'RD' in UserList %}
                    <th style="background-color: #edf0fb; text-align: center;" width="90">RD</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for category in MasterJSON %}
                {% with category.CategoryID as category_id %}
                    {% if factor_details_dict|get:category_id %}
                        {% for factor in factor_details_dict|get:category_id %}
                            <tr>
                                <td>
                                    <strong>{{ category.Title }}</strong>
                                    <br>
                                    {% if category.Item %}
                                        <ul>
                                            {% for item in category.Item %}
                                                {% if item.ItemType == 'li' %}
                                                    <li>{{ item.Title }}</li>
                                                {% endif %}
                                                {% if item.ItemType == 'checkbox' %}
                                                    {% for option in item.ItemOption %}
                                                    
                                                        {% if option in factor.factor %}
                                                             <span style="display:inline-block; width:14px; height:14px; border:1px solid #000; text-align:center; font-size:12px; line-height:14px;">&#10003;</span>
                                                           {{ option }} <br>
                                                        {% else %}
                                                         <span style="display:inline-block; width:14px; height:14px; border:1px solid #000; text-align:center; font-size:12px; line-height:14px;">X</span>
                                                            {{ option }} <br>
                                                        {% endif %}
                                                
                                                    {% endfor %}
                                                {% endif %}
                                                {% if item.ItemType == 'label' %}
                                                    <li>{{ item.Title }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>

                                {% if 'HR' in UserList %}
                                    <td style="text-align: top;">
                                        <span>
                                            Rating: {{ factor.hr_rating|default:"" }}<br>
                                            Remarks: {{ factor.hr_remarks|default:"" }}
                                        </span>
                                    </td>
                                {% endif %}
                                {% if 'HOD' in UserList %}
                                    <td>
                                        <span>
                                            Rating: {{ factor.hod_rating|default:"" }}<br>
                                            Remarks: {{ factor.hod_remarks|default:"" }}
                                        </span>
                                    </td>
                                {% endif %}
                                {% if 'GM' in UserList %}
                                    <td>
                                    <span>
                                        Rating: {{ factor.gm_rating|default:"" }}<br>
                                        Remarks: {{ factor.gm_remarks|default:"" }}
                                    </span>
                                    </td>
                                {% endif %}
                                {% if 'RD' in UserList %}
                                    <td>
                                        <span>
                                            Rating: {{ factor.rd_rating|default:"" }}<br>
                                            Remarks: {{ factor.rd_remarks|default:"" }}
                                        </span>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
