{% extends 'apps/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Guest</h1>
  <p class="lead">Your order is ready soon.</p>
  <hr class="my-4">
  <p><b>You can order various types of cake.</b></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/cakeorder" role="button">OrderNow</a>
    {% comment %} <a class="btn btn-primary btn-lg" href="/urjentordersignup" role="button">UrjentOrder</a> {% endcomment %}
  </p>
</div>

{% endblock content %}