{% extends 'MarketSegment/homebase.html' %}
{% load static %}


{% block content %} 

                                                 
        <div class ="card-header">Market Segment  List</div>
            <br>
            <br>

    
        <table  id="title" class="table table-bordered">
            <thead>
                <th>Month</th>
                <th>Year</th>
              
                <th width="250"  id="mid">  Action </th>
            </thead>
            {% for x in mem%}
            <tr>
                <td>{{x.Monthtitle}}</td> 
                <td>{{x.EntryYear}}</td>
              

                <td>
                    <a class="btn btn-primary" href="/SalesWeeklyReview/MarketSegmentEdit/{{x.id}}">Edit</a>
                    <a onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-danger" href="/SalesWeeklyReview/delete_MarketSegment/{{x.id}}"> Delete </a>
                    <a class="btn btn-primary" href="/SalesWeeklyReview/MarketSegmentView/{{x.id}}">View</a>
                </td>
                                          
            </tr>
            {% endfor %}
           
        </table>
        <br><br>
        
        <br>
        <br>
    
    {% endblock content %}