{% extends 'MarketSegment/homebase.html' %}
{% load static %}


{% block content %}
 <style>
    td.bold {
        font-weight: bold;
        background: #efefef;
        vertical-align: middle !important;
    }
 </style>
    <div class="container1">
        <Div class="card card-primary ">
       
        <div class ="card-header">Market Segment Entry</div>
               
        <div class="card-body">
            <form action="{%url 'MarketSegmentEntry' %}" method = "post">
                {% csrf_token %}
        <div class="row">
    
            <lable  class="control-label col-sm-1">Month</lable>
            <div class="col-sm-3">
                    <select class="form-control "   data-val="{{CMonth}}" name="EntryMonth" value="{{mem.EntryMonth}}">
                        <option value ="1">January</option>
                        <option value ="2">February</option>
                        <option value ="3">March</option>
                        <option value ="4">April</option>
                        <option value ="5">May</option>
                        <option value ="6">June</option>
                        <option value ="7">July</option>
                        <option value ="8">August</option>
                        <option value ="9">September</option>
                        <option value ="10">October</option>
                        <option value ="11">November</option>
                        <option value ="12">December</option>                        
                    </select>  
                </div>
            <lable  class="col-sm-1"> Year</lable>
            <div  class="col-sm-3">
                <select class="form-control" name="EntryYear" value ="{{mem.EntryYear}}">
                    {%for i in CYear%}
                    <option>{{i}}</option>
                    {%endfor%}
                </select>    
                </div>

            
            
        </div>
               
                <br/>
                <br>
               
                <table id="title" class= "table table-bordered " >
                    <thead>
                        
                        <th></th>
                        <th>Market Segments</th>
                        <th>Room Nights</th>
                        <th>Revenue</th>
                        <th>ADR</th>
                        
                    </thead>
                    {% for x in mem%}
                    <tr> 
                        <td data-c="{{x.category}}">{{x.category}}</td>            
                        <td>{{x.title}}</td> 
    
                        <td><input type="text"  class="form-control" name="RoomNights_{{ forloop.counter0 }}"/>
                            <input name="TitleID_{{ forloop.counter0 }}" type="hidden" value="{{x.id}}" type="text"/>
                        </td>
                        <td><input type="text"  class="form-control" name="Revenue_{{ forloop.counter0 }}"/>
                        </td>
                        <td><input type="text" readonly class="form-control" name="ADR_{{ forloop.counter0 }}"/>
                        </td>
    
                    </tr>
                    {% if forloop.last %}
                    <input  type="hidden" name="TotalItem" value="{{ forloop.counter0 }}"/>
                    {% endif %}
                    {% endfor %}
    
                    <tfoot>
                        <tr>
                            <th>
                                Total 
                            </th>
                            <td></td>
                            <td>
                                <input type="text"  class="form-control" id="Total" name="Total" >
                            </td>
                            <td>
                                <input type="text"  class="form-control" id="TotalRevenue" name="TotalRevenue" >
                            </td>
                            <td>
                                <input type="text" readonly class="form-control" id="TotalADR" name="TotalADR" >
                            </td>

                        </tr>
                    
                    </tfoot>
                </table>                          
                <br>
               
                <br>
    
                <div class = "card-footer text-right">
                <button class="btn btn-primary" type="submit" id="new1">Submit</button>
                </div>
                <br>
                
            </form>
        </div>
    </div>
    

    <script>
        $(function(){
    
            var c=""
            $("#title tr").each(function(){
                    var ct =$(this).find('td').eq(0).attr('data-c')
                   if(c=="" || c !=ct){
                    $(this).find('td').eq(0).addClass('bold')
                   }else{
                        $(this).find('td').eq(0).text('')
                       
                   }
                c=ct            
            })
        })
    
    
    
    
    
        $(function(){
    
            $("input[name*='RoomNights_'],input[name*='Revenue_']").blur(function(){
                DoCal();
    
            })      
        })
    
        var DoCal=function(){
    
            
                $("input[name*='RoomNights_']").each(function(){
                    debugger;
                        var RN = $(this).val();
                        RN = parseFloat(RN);
                        RN = isNaN(RN)?0:RN;
    
                        var RV = $(this).parent().parent().find("[name*='Revenue_']").val();
                        RV = parseFloat(RV);
                        RV = isNaN(RV)?0:RV;
    
                        var ADR=0;
                        if(RN>0){
    
                            ADR = RV/RN;
                        }
                        $(this).parent().parent().find("[name*='ADR_']").val(ADR.toFixed(2));
                      
                })
               
                var TotalAmount=0;
                $("input[name*='RoomNights_']").each(function(){
                        var a = $(this).val();
                        a = parseFloat(a);
                        a = isNaN(a)?0:a;
                        TotalAmount = TotalAmount+a;
                })
                $("input[name='Total']").val(TotalAmount.toFixed(2))
    
                var TotalRev=0;
                $("input[name*='Revenue_']").each(function(){
                        var a = $(this).val();
                        a = parseFloat(a);
                        a = isNaN(a)?0:a;
                        TotalRev= TotalRev+a;
                })
                $("input[name='TotalRevenue']").val(TotalRev.toFixed(2))
    
                $("input[name='TotalADR']").val((TotalRev/TotalAmount).toFixed(2))
        }
    
    
    
       
    
       
    </script>
    
    {% endblock content %}