{% extends 'OODHealthHB/homebase.html' %}
{% load static %}

{% block content %}
<!-- Latest compiled and minified CSS -->
    <div class="container1">
        <Div class="card card-primary ">


        <div class = "card-header"> OOD SPA & Health Club Edit</div>
        <div class="card-body">

        <form action="{%url 'HOOD_HealthEdit' mem.id %}" method = "post">
            {% csrf_token %}
    
            <div class="row">
        
                <lable  class="control-label col-sm-2">Month</lable>
                <span class="col-sm-1">
                    <select class="form-control calc"     name="EntryMonth" data-val="{{mem.EntryMonth}}" value="{{mem.EntryMonth}}">
                        <option value ="1">January</option>
                        <option value ="2">February</option>
                        <option value ="3">March</option>
                        <option value ="4">April</option>
                        <option value ="5">May</option>
                        <option value ="6">June</option>
                        <option value ="7">July</option>
                        <option value ="8">August</option>
                        <option value ="9">September</option>
                        <option value ="10">October</option>
                        <option value ="11">November</option>
                        <option value ="12">December</option>
                        
                    </select>
    
            </span>
            <lable  class="col-sm-1"> Year</lable>
            <span  class="col-sm-2">
                
                   
                <select class="form-control calc"  name="EntryYear" data-val="{{mem.EntryYear}}" name="{{mem.EntryYear}}">
                    {%for i in CYear%}
                    <option>{{i}}</option>
                    {%endfor%}
                </select>

            </span>
        </div>
        <br>
        <div class="row">
        
            <lable  class="control-label col-sm-2">Fitness Treatment Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="FitnessLessonRevenue" value ="{{mem.FitnessLessonRevenue}}" >
            </div>
        </div>
        <br>
        <div class="row">
        
            <lable  class="control-label col-sm-2">Fitness Treatment Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="FitnessLessonRevenue" value ="{{mem.FitnessLessonRevenue}}" >
            </div>
        </div>
        <br>
        <div class="row">
        
            <lable  class="control-label col-sm-2">Massage Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="MassageRevenue" value ="{{mem.MassageRevenue}}" >
            </div>
        </div>
        <br>

        <div class="row">
        
            <lable  class="control-label col-sm-2">Spa Treatment Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="SpaTreatmentRevenue" value ="{{mem.SpaTreatmentRevenue}}" >
            </div>
        </div>   
        <br>
        
        <div class="row">
        
            <lable  class="control-label col-sm-2">Salon Treatment Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="SalonTreatmentRevenue" value ="{{mem.SalonTreatmentRevenue}}" >
            </div>
        </div>   
        <br>
        
        <div class="row">
        
            <lable  class="control-label col-sm-2"> Merchandise Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="MerchandiseRevenue" value ="{{mem.MerchandiseRevenue}}" >
            </div>
        </div>   
        <br>
        <div class="row">
        
            <lable  class="control-label col-sm-2"> Merchandise Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="MerchandiseRevenue" value ="{{mem.MerchandiseRevenue}}" >
            </div>
        </div>   
        <br>
        <div class="row">
        
            <lable  class="control-label col-sm-2"> Health/Wellness Services Revenue</lable>
            <div class="col-sm-4">
                <input type="text" class="form-control calc" name ="HealthWellnessRevenue" value ="{{mem.HealthWellnessRevenue}}" >
            </div>
        </div>   
        <br>


        <div class ="row">
            <label class="control-label col-sm-2"> Health Club And Spa Revenue (Other)</label>
            <div class ="col-sm-4">
                <input type="text"  class="form-control calc" name="HealthClubSpaRevenueOther" value="{{mem.HealthClubSpaRevenueOther}}">
            </div>
        </div>

        <br>
        
        <div class ="row">
            <label class="control-label col-sm-2"> Health Club And Spa Revenue </label>
            <div class ="col-sm-4">
                <input type="text" readonly class="form-control calc" name="HealthClubSpaRevenue" value="{{mem.HealthClubSpaRevenue}}">
            </div>
        </div>

        <br>
        <div class ="row">
            <label class="control-label col-sm-2">Cost Of Merchandise</label>
            <div class ="col-sm-4">
                <input type="text" class="form-control calc" name ="Cost_OfMerchandise" value="{{mem.Cost_OfMerchandise}}">
            </div>
        </div>
        <br>

        <div class="row">
        
            <lable  class="control-label col-sm-2">Total Cost of Sales </lable>
            <div class="col-sm-4">
                <input type="text" readonly  class="form-control calc" name="Total_CostOfSales" value="{{mem.Total_CostOfSales}}" >
            </div>
        </div>
        <br>

        <div class ="row">
            <label class="control-label col-sm-2">Gross Profit (Loss)</label>
            <div class ="col-sm-4">
                <input type="text" readonly  class="form-control calc" name ="Gross_Profit" value="{{mem.Gross_Profit}}">
            </div>
        </div>
        <br>   
        <div class ="row">
            <label class="control-label col-sm-2">Salary And Wages</label>
            <div class ="col-sm-4">
                <input type="text"  class="form-control calc" name ="SalaryAndWages" value="{{mem.SalaryAndWages}}">
            </div>
        </div>
        <br>   
        <div class ="row">
            <label class="control-label col-sm-2">Bonuses And Incentives</label>
            <div class ="col-sm-4">
                <input type="text"  class="form-control calc" name ="Bonuses_and_Incentives" value="{{mem.Bonuses_and_Incentives}}">
            </div>
        </div>
        <br>   
        <div class ="row">
            <label class="control-label col-sm-2">Salary Wages And Bonuses</label>
            <div class ="col-sm-4">
                <input type="text" readonly  class="form-control calc" name ="Salary_Wages_and_Bonuses" value="{{mem.Salary_Wages_and_Bonuses}}">
            </div>
        </div>
        <br>   
        <div class ="row">
            <label class="control-label col-sm-2">Employee Benefits</label>
            <div class ="col-sm-4">
                <input type="text" class="form-control calc" name ="EmployeeBenefits" value="{{mem.EmployeeBenefits}}">
            </div>
        </div>
        <br>
        <br>   
        <div class ="row">
            <label class="control-label col-sm-2">Payroll Related Expenses</label>
            <div class ="col-sm-4">
                <input type="text" readonly class="form-control calc" name ="PayrollRelatedExpenses" value="{{mem.PayrollRelatedExpenses}}">
            </div>
        </div>
        <br>
        <br>   
        <div class ="row">
            <label class="control-label col-sm-2">Payroll And Related Expenses</label>
            <div class ="col-sm-4">
                <input type="text" readonly class="form-control calc" name ="PayrollAndRelatedExpenses" value="{{mem.PayrollAndRelatedExpenses}}">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-6"> 

            <table id="title" class="table table-bordered ">
                <thead>

                    <th> </th>
                    <th>Amount</th>
                    
                </thead>

                {% for x in mem1%}
                <tr>    
                    
                    <td>{{x.OOD_HealthMaster.title}}</td> 
                    <td><input type="text" class="form-control calc" value="{{x.Amount}}" name="Amount_{{ forloop.counter0 }}"/>
                        <input name="TitleID_{{ forloop.counter0 }}" type="hidden" value="{{x.OOD_HealthMaster.id}}" type="text"/>
                    </td>
               
                </tr>
                {% if forloop.last %}
                <input  type="hidden" name="TotalItem" value="{{ forloop.counter0 }}"/>
                {% endif %}
                {% endfor %}
            </table>
            
        </div>
            <br></br>

            <div class="row">
                <label for="text" class="col-sm-2"> Total Other Expenses </label>
                <div class="col-sm-4">
                      <input type="text" readonly class="form-control calc" name="Total_Other_Expenses" value="{{mem.Total_Other_Expenses}}" >
                 </div>
             </div>
             
             <br>
    
             <div class="row">
                <label for="text" class="col-sm-2">Total Expenses</label>
                <div class="col-sm-4">
                      <input type="text" readonly class="form-control calc" name="TotalExpenses" value="{{mem.TotalExpenses}}" >
                 </div>
             </div>
             <br>
             <br>
    
             <div class="row">
                <label for="text" class="col-sm-2">Department Income (Loss) </label>
                <div class="col-sm-4">
                      <input type="text" readonly class="form-control calc" name="DepartmentIncome" value="{{mem.DepartmentIncome}}" >
                 </div>
             </div>
             <br>
             <br>
         
                <div class = "card-footer text-right">
                <button class="btn btn-primary" type="submit" id="new1">Submit</button>
                </div>
           </div>          
        </form>
    </div>
</div>
</div>

<br>

<script>

    $(function(){

        $(".calc").blur(function(){
            DoCal();

        })      
    })

    var DoCal=function(){

      
        var a = $("input[name='FitnessLessonRevenue']").val();
        a = parseFloat(a);
        a = isNaN(a)?0:a;

        var p = $("input[name='MassageRevenue']").val();
        p = parseFloat(p);
        p = isNaN(p)?0:p;

        var q = $("input[name='SpaTreatmentRevenue']").val();
        q = parseFloat(q);
        q = isNaN(q)?0:q;

        var r = $("input[name='SalonTreatmentRevenue']").val();
        r = parseFloat(r);
        r = isNaN(r)?0:r;

        var s = $("input[name='MerchandiseRevenue']").val();
        s = parseFloat(s);
        s = isNaN(s)?0:s;

        var t = $("input[name='HealthWellnessRevenue']").val();
        t = parseFloat(t);
        t = isNaN(t)?0:t;

        var u = $("input[name='HealthClubSpaRevenueOther']").val();
        u = parseFloat(u);
        u = isNaN(u)?0:u;

        $("input[name='HealthClubSpaRevenue']").val((a+p+q+r+s+t+u).toFixed(2));
        var HealthClubSpaRevenue = (a+p+q+r+s+t+u);

        var e = $("input[name='Cost_OfMerchandise']").val();
        e = parseFloat(e);
        e = isNaN(e)?0:e;
        $("input[name='Total_CostOfSales']").val(e.toFixed(2));

        $("input[name='Gross_Profit']").val((HealthClubSpaRevenue - e).toFixed(2));
        var Gross_Profit = (HealthClubSpaRevenue - e);
       
      

        
        var TotSalWag=0;
        var c = $("input[name='SalaryAndWages']").val();
        c = parseFloat(c);
        c = isNaN(c)?0:c;
               
        var TotSalWag=0;
        var d = $("input[name='Bonuses_and_Incentives']").val();
        d = parseFloat(d);
        d = isNaN(d)?0:d;
        TotSalWag = c+d;
        $("input[name='Salary_Wages_and_Bonuses']").val(TotSalWag.toFixed(2));



        var f = $("input[name='EmployeeBenefits']").val();
        f = parseFloat(f);
        f = isNaN(f)?0:f;
        $("input[name='PayrollRelatedExpenses']").val(f.toFixed(2));

        $("input[name='PayrollAndRelatedExpenses']").val((TotSalWag + f).toFixed(2));

      
        
        var TotalAmount=0;
        $("input[name*='Amount_']").each(function(){
                    var a = $(this).val();
                    a = parseFloat(a);
                    a = isNaN(a)?0:a;
                    TotalAmount= TotalAmount+a;
            })
        $("input[name='Total_Other_Expenses']").val(TotalAmount.toFixed(2))

        
        $("input[name='TotalExpenses']").val((TotalAmount + TotSalWag + f).toFixed(2))
        var TotalExpenses = (TotalAmount + TotSalWag + f);

        $("input[name='DepartmentIncome']").val((Gross_Profit - TotalExpenses).toFixed(2))
        
        

      
    }
</script>
 
{% endblock content %}