

<!-- New - Example Element Element -->
<li class="list-unstyled"><a href="{% url "FullandFinalList" %}" class="nav-link dropdown-main-color">F&F List</a></li> 
<li class="list-unstyled"><a href="{% url "FullAndFinal_Approval_List" %}" class="nav-link dropdown-main-color">Approval List</a></li> 



{% comment %} <li class="list-unstyled"><a href="Demo" class="nav-link dropdown-main-color">Demo</a></li> {% endcomment %}

{% comment %} <li> <a href="/FullandFinalSettlement/FullandFinalRegistrationList">FullandFinalsettlement List</a></li>
<li> <a href="/FullandFinalSettlement/FullandFinalRegistration">New Full Settlement Form</a></li>
<li> <a href="{% url 'FandFEntry' %}">F and F Entry</a></li>
<li> <a href="{% url 'FandFList' %}">F and F List</a></li> {% endcomment %}