
{% extends 'LMS/homebase.html' %}
{% block content %}  

{% comment %} {% extends 'EMP_PAY/homebase.html' %}
{% block content %}  {% endcomment %}


<div class="cotainer">
    <div class="container text-center">
        {% for message in messages %} {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">{{ message|safe }}</div>
        {% else %}
        <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
        {% endif %} {% endfor %}
      </div>
</div>






{% endblock %}
{% comment %} {% endblock NewHomeBase %} {% endcomment %}








