{% extends "EMP_PAY\homebase.html" %}
{% block content %}
<style>
    .Bold {
        font-weight: bold;
    }
    .form-control
    {
        width: 132px;
    }
    body{
        /* font-size: 10px; */
    }
    table{
        font-size: 10px;
    }
</style>
<div class="container">
    <div class="card-header col-md-12 mb-3">Payroll View of {{emp_Details.0.EmpName}} {{month}} - {{year}} </div>
    <div class="col-md-12">
       

        <form action="" method="post">
            <table  class="table table-bordered table-sm" CELLPADDING="4" >
                <thead>
                    <tr> 
                        <td  colspan="6">
                            <table width="100%" >
                                <tr>
                                    <th width="130" align="left" >
                                        <img  src="https://hotelopsblob.blob.core.windows.net/hotelopslogos/{{org_Details.OrganizationLogo}}"  height="100">
                                    </th>
                                    <th style="text-align: center;" >
                                        {{org_Details.OrganizationName}}
                                            <br>
                                            {{org_Details.Address}}
                                            <br>
                                            Payslip For the month of {{month}} - {{year}}
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="95" class="Bold">Name </td>
                        <td  width="140" >{{emp_Details.0.EmpName}}</td>
                        <td width="90" class="Bold">PF No.</td>
                        <td width="70">{{emp_Details.0.ProvidentFundNumber}}</td>
                        <td  width="90" class="Bold">Pay Mode</td>

                        <td width="80">
                            <select name="PayMode"  class="form-control">
                                <option value="Bank Transfer">Bank Transfer</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Cash">Cash</option>
                            </select>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="Bold">Emp. Code</td>
                        <td >{{emp_Details.0.EmployeeCode}}</td>
                        <td class="Bold">ESIC No.</td>
                        <td>{{emp_Details.0.ESINumber}}</td>
                        <td class="Bold">Bank A/C No.</td>
                        <td>{{emp_Details.0.BankAccountNumber}}</td>
                    </tr>
                    <tr>
                        <td class="Bold">Department</td>
                        <td >{{emp_Details.0.Department}}</td>
                        <td class="Bold">Designation</td>
                        <td >{{emp_Details.0.Designation}}</td>
                        <td class="Bold">IFSC Code</td>
                        <td >{{emp_Details.0.BankIFSCCode}}</td>
                    </tr>
                    <tr>
                        <td class="Bold">DOJ</td>
                        <td >{{emp_Details.0.DateofJoiningDate}}</td> 
                        <td class="Bold">Total Paid Days</td>
                        <td >{{grid_data.total_no_Days_in_month}}</td>
                        <td class="Bold">Bank  Name</td>
                        <td >{{emp_Details.0.BankName}}</td> 
                    </tr>
                    <tr>
                        <td  width="90" class="Bold">DOB</td>
                        <td width="70">{{ emp_Details.0.DOB }}</td>
                        <td class="Bold">Present Days</td>
                        <td >{{grid_data.no_of_days}}</td> 
                        <td class="Bold">Branch Name</td>
                        <td >{{emp_Details.0.BankName}}</td>
                    </tr>
                
                    <tr class="Bold">
                        <td>Salary Heads</td>
                        <td >Fixed</td>
                        <td>Earning Heads</td>
                        <td  >Earned</td>
                        <td>Deductions</td>
                        <td>Variable</td>
                    </tr>
                    <tr>
                        <td>{{emp_sal_Det.0.Title}}</td>
                        <td >{{emp_sal_Det.0.Monthly}}</td>
                        <td>{{emp_sal_Det.0.Title}}</td>
                        <td  id="td_BasicSal">{{grid_data.Earned_Basic}}</td>
                        <td>ESIC(0.75% of TE)</td>
                        <td id="tdESIC" > 
                            <input type="number" name="ESIC" value="{{grid_data.ESIC}}"  class="form-control" readonly>
                            {% comment %} <input type="number" name="ESIC" value="{% if sal_obj %}{{sal_obj.ESIC}}{% else %}{{grid_data.ESIC}}{% endif %}"  class="form-control" readonly> {% endcomment %}
                        </td>
                    </tr>
                    <tr>   
                        <td>{{emp_sal_Det.1.Title}}</td>
                        <td >{{emp_sal_Det.1.Monthly}}</td>
                        <td>{{emp_sal_Det.1.Title}}</td>
                        <td  id="td_EarnedHRA">{{grid_data.Earned_HRA}}</td>
                        <td>EPFO(12 % of BE)</td>
                        {% comment %} <td id="tdEPFO" >{{grid_data.EPFO}}</td> {% endcomment %}
                        <td id="tdEPFO">{% if sal_obj %}{{sal_obj.EPFO}}{% else %}{{grid_data.EPFO}}{% endif %}</td>
                    </tr>
                    
                    <tr>
                        <td>{{emp_sal_Det.2.Title}}</td>
                        <td>{{emp_sal_Det.2.Monthly}}</td>
                        <td>Arrear</td>
                        <td><input type="number" class="form-control" name="Arrear" value="{% if sal_obj %}{{sal_obj.Arrear}}{% endif %}" {% if IsLocked_Slip %}readonly{% endif %}></td>
                        <td>{{emp_sal_Det.5.Title}}</td>
                        <td id="tdPT">{{PT}}</td>
                    </tr>
                    <tr>
                        <td>{{emp_sal_Det.3.Title}}</td>
                        <td >{{emp_sal_Det.3.Monthly}}</td>
                        <td >Reward/Incentive</td>
                        <td><input type="number" class="form-control" name="RewardIncentive" value="{% if sal_obj %}{{sal_obj.RewardIncentive}}{% endif %}" {% if IsLocked_Slip %}readonly{% endif %}></td>
                        <td >{{emp_sal_Det.8.Title}}</td>
                        <td id="tdMeals">{{emp_sal_Det.8.Monthly}}</td>
                    </tr>
                    <tr>
                        <td>{{emp_sal_Det.4.Title}}</td>
                        <td >{{emp_sal_Det.4.Monthly}}</td>
                        <td>Total Allowance</td>
                        <td >
                            <input type="hidden" id="Earned_Total_AllowanceC" value="{% if sal_obj %}{{sal_obj.Earned_Total_Allowance}}{% else %}{{grid_data.Earned_Total_Allowance}}{% endif %}" >
                            {% if sal_obj %}{{sal_obj.Earned_Total_Allowance}}{% else %}{{grid_data.Earned_Total_Allowance}}{% endif %}
                        </td>
                        <td >{{emp_sal_Det.9.Title}}</td>
                        <td id="tdAccommodation">{{emp_sal_Det.9.Monthly}}</td>
                    </tr>
                    
                    <tr>
                        <td colspan="4" rowspan="3"></td>
                        <td >Advance/Loan</td>
                        <td><input type="number" class="form-control" name="AdvanceLoan" value="{% if sal_obj %}{{sal_obj.AdvanceLoan}}{% endif %}" {% if IsLocked_Slip %}readonly{% endif %}></td>
                    </tr>
                    <tr>
                        <td >Tax Deduction</td>
                        <td><input type="number" class="form-control" name="TaxDeduction" value="{% if sal_obj %}{{sal_obj.TaxDeduction}}{% endif %}" {% if IsLocked_Slip %}readonly{% endif %}></td>
                    </tr>
                    <tr>
                        <td >Other Deduction</td>
                        <td><input type="number" class="form-control" name="OtherDeduction" value="{% if sal_obj %}{{sal_obj.OtherDeduction}}{% endif %}" {% if IsLocked_Slip %}readonly{% endif %}></td>
                    </tr>    

                    <tr class="Bold">
                        <td >Gross Salary</td>
                        <td id="tdGrosssalary">{{grid_data.Total_Earning}}</td>
                        <td>Total Earnings</td> 
                        <td  > <input type="number"  name="TotalEarnings"  value="{% if sal_obj %}{{sal_obj.Total_Earning}}{% else %}{{grid_data.Total_Earning}}{% endif %}"  class="form-control" readonly></td>
                        <td class="Bold">Total Deductions</td>
                        <td  ><input type="number" name="Total_Deduction"   value="{% if sal_obj %}{{sal_obj.Total_Deduction}}{% else %}{{grid_data.Total_Deduction}}{% endif %}"  class="form-control" readonly></td>
                    </tr>
                
                    <tr class="Bold">
                        <td colspan="2"></td> 
                        <td class="Bold">Net Pay</td>
                        <td  ><input type="number" name="NetPay"  value="{% if sal_obj %}{{sal_obj.Net_salary}}{% else %}{{grid_data.Net_salary}}{% endif %}" class="form-control" readonly></td>
                        <td colspan="2"></td> 
                    </tr>
                
                    <tr>
                        <td colspan="6" >
                            Leave Balance-
                            {% for leave in Leave_Balance  %}
                                {{leave.Leave_Type_Master.Type}}:{{leave.Balance}},
                            {% endfor %}
                        </td>
                    <tr> 
                    <tr >
                        <td colspan="6" style="text-align: center;" >*** THIS IS COMPUTER GENERATED PAYSLIP DOES NOT REQUIRE SIGNATURE ***</td>
                    </tr> 
                </tbody>
            </table>
            
            {% csrf_token %}
            <input type="hidden" name="G_employee_code" value="{{emp_Details.0.EmployeeCode}}" >
            <input type="hidden" name="G_month" value="{{month_no}}" >
            <input type="hidden" name="G_year" value="{{year}}" >

            <input type="submit" class="btn btn-primary btn-sm mb-3" {% if IsLocked_Slip or IsLock == False %}disabled{% endif %} value="Generate Salary Slip">
            <a href="{% url 'Unlock_Employee_Salary_Details' Slip_ID %}" class="btn btn-primary btn-sm mb-3" style="{% if IsLocked_Slip == False %}display:none;{% endif %}" >Unlock</a>
            {% if IsLocked_Slip %}  <p style="color: red;">Already Generated</p>{% endif %}
            {% if IsLocked_Slip == False %}  <p style="color: red;">Attendance is not Locked</p>{% endif %}
        </form>

        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>In</th>
                    <th>Out</th>
                    <th>Duty Hours</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_data %}
                <tr>
                    <td>{{ record.Date|date:"j F, Y" }}</td>
                    <td>{{ record.In_Time }}</td>
                    <td>{{ record.Out_Time }}</td>
                    <td>{{ record.Duty_Hour }}</td>
                    <td>{{ record.Status }}</td>
                </tr>
                {% empty %}
                <td  style="text-align: center;">No Data Available</td>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
<input type="hidden" id="IsESICCalculate" value="{{IsESICCalculate}}">


<script>
    document.querySelectorAll('input[name="Arrear"], input[name="RewardIncentive"], input[name="AdvanceLoan"], input[name="TaxDeduction"], input[name="OtherDeduction"]').forEach(input => {
        input.addEventListener('input', function() {
            let formData = new FormData();
            formData.append('G_employee_code', '{{emp_Details.0.EmployeeCode}}');
            formData.append('G_month', '{{month_no}}');
            formData.append('G_year', '{{year}}');
            formData.append('Arrear', document.querySelector('input[name="Arrear"]').value || 0);
            formData.append('RewardIncentive', document.querySelector('input[name="RewardIncentive"]').value || 0);
            formData.append('AdvanceLoan', document.querySelector('input[name="AdvanceLoan"]').value || 0);
            formData.append('TaxDeduction', document.querySelector('input[name="TaxDeduction"]').value || 0);
            formData.append('OtherDeduction', document.querySelector('input[name="OtherDeduction"]').value || 0);
            formData.append('ESIC', document.querySelector('input[name="ESIC"]').value || 0);
            formData.append('EPFO', document.getElementById("tdEPFO").textContent.trim() || 0);
            formData.append('Accommodation', document.getElementById("tdAccommodation").textContent.trim() || 0);
            formData.append('Meals', document.getElementById("tdMeals").textContent.trim() || 0);
            formData.append('PT', document.getElementById("tdPT").textContent.trim() || 0);

            

            fetch("{% url 'recalc_salary' %}", {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                }
            })
            .then(res => res.json())
            .then(data => {
                if(!data.error){
                    document.getElementById("td_BasicSal").innerText = data.Earned_Basic;
                    document.getElementById("td_EarnedHRA").innerText = data.Earned_HRA;
                    document.getElementById("Earned_Total_AllowanceC").value = data.Earned_Total_Allowance;
                    document.querySelector('input[name="TotalEarnings"]').value = data.Total_Earning;
                    document.querySelector('input[name="Total_Deduction"]').value = data.Total_Deduction;
                    document.querySelector('input[name="NetPay"]').value = data.Net_salary;
                }
            })
            .catch(err => console.error(err));
        });
    });
</script>




{% endblock content %}
