{% extends 'Policy_Posh/homebase.html' %}
{% load static %}

{% block content %} 

 

<style>
    form p {
        display: inline-block;
        width: 25%;
        margin-right: 10px;
    }
    
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    form p {
        display: inline-block;
        width: 100%;
        margin-right: 10px;
    }
  }
  label[for="id_data"]
{
    visibility: hidden;
}
 </style>

<div class="card">
    <div class="card-header">New Trainee's Experience Letter</div>
    <form action="" method="post">
    <div class="card-body">
        <div style="padding: 20px;">

          

                     {{form.media }}
                     {{form.as_p}}

                {%  csrf_token %}
                <br>
              
                       
        </div>  
    </div>
    <div class="card-footer text-right">
        <input type="submit" class="btn btn-success btn-sm" value="Submit">
    </div>
</form>
           
</div>


   
<script>
    var BindEmpDetails = function () {
debugger;
        var EmpCode = $("[name='emp_code']").val();
var O=$("[name='OrganizationID']").val();
        $("[name='first_name']").val('')
        $("[name='last_name']").val('')
        $("[name='designation']").val('')
        $("[name='department']").val('')
        $("[name='date_of_joining']").val('')
        $.ajax({
            type: "GET",
            url: "http://hotelops.in/API/UserAPI/HREmployeeDataEmpCodeSelect?EmpCode=" + EmpCode + "&O="+O+"",
            //data: '{name: "' + $("#txtName").val() + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                try {
                    var a = JSON.parse(response);
                    if (a != undefined && a != name && a.length > 0) {
                        try{
                           var en = a[0].EmpName.split(' ');
                            $(en).each(function(index,item){
                                if(item!='' && (en.length-1)!=index){
                                    $("[name='first_name']").val(($("[name='first_name']").val()+' '+item));
                                }
                                
                                else{
                                $("[name='last_name']").val(item)
                                }

                            })
                        
                        }catch(e){}
                        $("[name='designation']").val(a[0].Designation)
                        $("[name='department']").val(a[0].Department)
                        $("#id_Hr_manager_name").val(a[0].HRName)
var now = new Date(a[0].DateofJoining);

var day = ("0" + now.getDate()).slice(-2);
var month = ("0" + (now.getMonth() + 1)).slice(-2);

var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


$("[name='date_of_joining']").val(today)
                       
                    }
                    else {
                        alert("No Employee Data found in HR Module.Make sure employee code match with HR Module data");
                    }
                } catch { }
            }
        });
    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    $(function () {


        $(".datepicker").datepicker({ dateFormat: 'dd/M/yy' });
        $("[name='emp_code']").blur(function(){BindEmpDetails();

})

if(getUrlParameter('EC')!=undefined){
    $("[name='emp_code']").val(getUrlParameter('EC'))

}
BindEmpDetails();

    })
</script>


{% endblock content %}
