{% load static %}

<img width="100px" src="https://hotelopsblob.blob.core.windows.net/hotelopslogos/NileWhite.jpg" />

{% block content %}
<style>
  table td,table th{
    border:1px solid #434568 !important;
    padding:5px;
  }
  table th{
    text-align:left;
    background-color:#dedede;
    color:#434568;
    width:200px;
  }
</style>

  <!--- signup page for doctor by admin(sumit)  ---------->
  
    <div class="container register-form">
      <div class="card card-primary">
        <div class="card-header">
          <p>Your Grooming Order </p>
        </div>
       
        <div class="card-body">
          <input  type="hidden" name="ID" value="{{Ed.id}}">
      <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-bordered table-hover">
                <tbody>
                  <tr>
                    <th>Date</th>
                    <td>{{Ed.Date}}</td>
                    </tr>
                    <tr>
                      <th>Audit Type</th>
                      <td>{{Ed.Audit_Type}}</td>
                    </tr>
                    <tr>
                      <th>Name</th>
                      <td>{{Ed.Name}}</td>
                    </tr>
                    <tr>
                      <th>Shoes</th>
                      <td>{{Ed.Shoes}}</td>
                    </tr>
                    <tr>
                      <th>Shocks</th>
                      <td>{{Ed.Shocks}}</td>
                    </tr>
                    <tr>
                      <th>Nails</th>
                      <td>{{Ed.Nails}}</td>
                    </tr>
                    <tr>
                      <th>Hair</th>
                      <td>{{Ed.Hair}}</td>
                    </tr>
                    <tr>
                      <th>Uniform</th>
                      <td>{{Ed.Uniform}}</td>
                    </tr>
                    <tr>
                      <th>Name Badge</th>
                      <td>{{Ed.Name_Badge}}</td>
                    </tr>
                    <tr>
                      <th>Brand Pin</th>
                      <td>{{Ed.Brand_Pin}}</td>
                    </tr>
                    <tr>
                      <th>Remarks</th>
                      <td>{{Ed.Remarks}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>        
      </div>
    </div>

    {% endblock content %} 