{% load static %}

{% block content %}
<style>
    table td,table th{
      border:1px solid #dcdcde !important;
      padding:5px;
    }
    table th{
      text-align:left;
      background-color:#dedede;
      color:#434568;
    }
    {
        padding: 5px;
        text-align: left;
        background: #f29418;
        color: white;
        font-size: 20px;
        width : 40%;
    
      }
     
      .noborder td{
        border-width:0px;
      }
  </style>

  
  <div class="container1">
        
    <table class="noborder">
        <tr>
            <td width="200px">
                <img width="150px" src="https://hotelopsblob.blob.core.windows.net/hotelopslogos/NileWhite.jpg" align ="left" /> 
            </td>
            <td style="text-align:right">  
                <h2 style="font-size:18px">Company Productivity Details - {{CMonth}}  {{mem.EntryYear}}</h2>               
            </td>    
                     
        </tr>
    </table>
    <br>
<br/>
<div class="card-body">
    <form action="{%url 'CompanyProView' mem.id %}" method = "post">
        {% csrf_token %}                
  
      </div>                                                        
    </form>
</div>
</div>

<table id="title" style="width:100%" class= "table table-bordered " >
    <thead>
          
        <th>Company Name</th>
        <th>Room Nights</th>
        <th>Room Revenue</th>
        <th>ARR</th>
      
        
    </thead>
    {% for x in mem1%}
    <tr>
    
        <td>{{x.CompanyProductivityMaster.title}}</td>     
        <td>{{x.RoomNights}}</td> 
        <td>{{x.RoomRevenue}}</td>   
        <td>{{x.ARR}}</td>       
       
    </tr>
    
    {% endfor %}

   
</table>
</div>

  
<script>
    
    $(function(){

        $("input[name*='RoomNights_'],input[name*='RoomRevenue_']").blur(function(){
            DoCal();

        })      
    })

    var DoCal=function(){

        
        $("input[name*='RoomNights_']").each(function(){
            debugger;
                var RN = $(this).val();
                RN = parseFloat(RN);
                RN = isNaN(RN)?0:RN;

                var RV = $(this).parent().parent().find("[name*='RoomRevenue_']").val();
                RV = parseFloat(RV);
                RV = isNaN(RV)?0:RV;

                var ARR=0;
                if(RN>0){

                    ARR = RV/RN;
                }
                $(this).parent().parent().find("[name*='ARR_']").val(ARR.toFixed(2));  
                
        })

}
</script> 


{% endblock content %}
