{% extends 'equipment/homebase.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}


  <form method="post" action="EquipmentAndTrolleyForm" enctype="multipart/form-data">
    {{ Equipment_Inventory }}
  
    {% csrf_token %}
    <div class="container register-form">
      <div class="card card-primary">
        <div class="card-header">
          <p> Register In Equipment Trolley Form </p>
        </div>

        <div class="card-body">
         
          <input type="hidden" name="CreatedBy" value="{{d.UserID}}"> 
          <input type="hidden" name="OrganizationID" value="{{d.OrganizationID}}"> 
         
          <div class="">
            <div class="row">
              <div class="col-sm-3">
                <label>Date</label>
                {% render_field EquipmentInventoryForm.Date class="form-control" placeholder="Date" %}
              </div>
              <div class="col-sm-3">
                <label>Equipment Name</label>
                {% render_field EquipmentInventoryForm.Equipment_Name class="form-control" placeholder="Equipment_Name" %}
              </div>
              <div class="col-sm-3">
                <label>Brand Name</label>
                {% render_field EquipmentInventoryForm.Brand_Name class="form-control" placeholder="Brand_Name" %}
              </div>
              <div class="col-sm-3">
                <label>Model No</label>
                {% render_field EquipmentInventoryForm.Model_No class="form-control" placeholder="Model_No" %}
              </div>
              <div class="col-sm-3">
                <label>In Working Condition</label>
                {% render_field EquipmentInventoryForm.In_Working_Condition class="form-control" placeholder="In_Working_Condition" %}
              </div>
            
              <div class="col-sm-3">
                <label>Last Servicing Date</label>
                {% render_field EquipmentInventoryForm.Last_Servicing_Date  class="form-control" placeholder="Last_Servicing_Date" %}
              </div>
             <div class="col-sm-3">
              <label>AMC Covered</label>
                {% render_field EquipmentInventoryForm.AMC_Covered  class="form-control" placeholder="AMC_Covered" %}
              </div>
              <div class="col-sm-3">
                <label>Serial No</label>
                {% render_field EquipmentInventoryForm.Serial_No  class="form-control"  placeholder="Serial_No" %}
              </div>
            </div>
            

              <br/>
              <div class="row">
                  <div class="col-sm-12">
                      <label>Remarks</label>
                       {% render_field EquipmentInventoryForm.Remarks class="form-control" rows=4 maxlength=500 placeholder="Remarks" %}
                   </div>
    
                </div>
          </div>
         
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </div>
    </div>


  {% endblock content %}