{% extends 'LMS/homebase.html' %}
{% block content %}  

{% comment %} {% extends 'EMP_PAY/homebase.html' %}
{% block content %}  {% endcomment %}


{% if messages %}
    <div class="cotainer">
        <div class="container text-center">
            {% for message in messages %} {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message|safe }}</div>
            {% else %}
            <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
            {% endif %} {% endfor %}
        </div>
    </div>
{% endif %}
<div class="card">
    <div class="card-header text-uppercase fw-bold">Employee Leave Apply</div>
</div>

<div class="card">
    <div class="card-body">
        <table id="example" class="table table-striped custom-table mb-0 datatable dataTable no-footer">
            <thead>
                <tr>
                    
                    <th>Emp Code</th>
                    <th>Emp Name</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Emp Status</th>

                    <th>Leave Type</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in emps %}
                <tr>
                    <td>{{ emp.EmployeeCode }}</td>
                    <td>{{ emp.EmpName }}</td>
                    <td>{{ emp.Department }}</td>
                    <td>{{ emp.Designation }}</td>
                    <td>{{ emp.EmpStatus }}</td>


                <td><a href="{% url 'Leave_Application' %}?EmployeeCode={{emp.EmployeeCode}}&Page=EmployeeApply" class="btn btn-primary btn-sm">Apply</a></td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}