{% extends "manningguide/homebase.html" %}
{% load maningfilter %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} mx-auto" role="alert" style="color: #5143d9; max-width: 1000px;">
      {{ message }}
    </div>
    <script>
      setTimeout(function() {
        document.querySelector('.alert').remove();
      }, 3000);
    </script>
  {% endfor %}
{% endif %}


 <style>
  body {
    font-family: 'Arial Nova', sans-serif;
  }
  .actions a {
    margin-right: 5px;
    text-decoration: none;
    color: blue;
  }
  .actions a:hover {
    text-decoration: underline;
  }
  .custom-card {
    width: 98%;
    margin: auto;
  }
  th, td {
    font-size: 13px;
    font-family: 'Arial Nova', Arial, sans-serif;
    border: 1px solid #ddd;
  }
  th {
    text-align: center;
    background-color: #0aa485;
    color: #fff;
  }
  .form-control {
    font-size: 0.8rem;
  }
  .text-center {
    text-align: center;
  }
  tr th {
    background: #fae0cc !important;
    /* color: #fff !important; */
    border-color: #bdac9f !important;
    text-transform:uppercase !important;
 }
</style> 

<style>
          body{
              font-size: 14px  !important;
              font-family: 'Arial Nova', Arial, sans-serif !important;
    
             }
             .card{
              border-radius:10px;
             }
             h4{
               margin-bottom:10px !important;
                }

               .form-control{
            border-radius:4px;  
        }      
        .btn{
            border-radius:4px;
        }

   
      tr th {
         background-color: #edf0fb !important;
          border-color: #D3D3D4 !important;
         color: #fff !important;
         font-size: 14px  !important;
         font-weight: bold !important;
        text-transform: uppercase;
           }
        td {        
            background-color: #f7f9fc !important;
        }
        strong{
            font-weight:normal !important;
        }

        .custom-btn {
                    margin-right: 10px; 
                    padding-block: 10px;
                    color: black !important;
                    border: 1px solid #dedede !important;
                }

         .btn.active {
            background-color: #edf0fb !important;
            border-color: #edf0fb !important;
            color: #ffffff !important;
            margin-right: 10px; 
            padding-block: 10px;
        }

        .HeaderWithColor {
            background-color: #edf0fb !important;
            color: black;
            border-color: #D3D3D4 !important; 
            text-transform: uppercase !important;
        }

        table thead th {
            background: #edf0fb  !important;
        }

            table {
            border-radius: 5px;
            overflow: hidden;
        }

        table thead tr:first-child th:first-child {
                border-top-left-radius: 4px;
        }

        table thead tr:first-child th:last-child {
                border-top-right-radius: 4px;
        }

        table tbody tr:last-child td:first-child {
                border-bottom-left-radius: 4px;
        }

            table tbody tr:last-child td:last-child {
                    border-bottom-right-radius: 4px;
            }

  .card .card-header {
      padding: 20px;
      border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
      background: transparent;
  }

  .select2-dropdown {
    z-index: 999;
  }
</style>

<div class="row">
  <div class="col-sm-12">

  <div class="card">
    <div class="card-header">
        <h4 class="text-uppercase mb-0"><strong>Hotel Actual Salary Report</strong></h4>
    </div>
    <div class="card-body">
    <form method="GET" class="mb-0">
      <div class="row">
        <div class="col-md-3">
          <div class="input-block">
          <select name="DivisionName" class="form-control select2">
            <option value="">-- Select Division --</option>
            {% for Division in Divisions %}
            <option value="{{ Division.DivisionName }}" {% if Division.DivisionName == selected_division %}selected{% endif %}>
              {{ Division.DivisionName }}
            </option>
            {% endfor %}
          </select>
        </div>
        </div>
    
        <div class="col-md-5 ">
          <button type="submit" class="btn btn-primary p-2" ><i class="fa fa-filter me-1"></i>
              Filter  
          </button>
      
          <a href="{% url 'ActualsalaryDesignationPdf' %}?DivisionName={{ selected_division|urlencode|default:'' }}" 
          target="_blank" class="btn btn-danger p-2" >
            <i class="fas fa-file-pdf me-1"></i> Download PDF</a>

          <button class="btn btn-primary p-2"  id="exportBtn" ><i class="fas fa-file-excel me-1"></i>
            Export to Excel 
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-bordered table-hover" id="myTable">
        <thead>
          <tr>
            <th>Designation</th>
            {% for label in ShortDisplayLabels %}
            <th>{{ label|upper  }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for designation, hotels in salary_dict.items %}
          <tr>
            <td>{{ designation }}</td>
            {% for label in ShortDisplayLabels %}
            <td class="text-center" style="width: 50px;">{{ hotels|get:label|default:"0" }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          <tr>
            <td><strong>Designation Total</strong></td>
            {% for label in ShortDisplayLabels %}
            <td class="text-center" style="text-align: center; vertical-align: middle;">
              <strong>{{ total_salary_all_designations|get:label|default:"0" }}</strong>
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>
  document.getElementById('exportBtn').addEventListener('click', function () {
    const wb = XLSX.utils.book_new();
    const ws = XLSX.utils.table_to_sheet(document.getElementById('myTable'));

    // Adjust column widths
    ws['!cols'] = new Array(document.getElementById('myTable').rows[0].cells.length).fill({ wpx: 150 });

    XLSX.utils.book_append_sheet(wb, ws, "Designation Report");
    XLSX.writeFile(wb, 'ActualsalaryDesignation.xlsx');
  });

  {% comment %} $(document).ready(function () {
    $('.select2_demo_2').select2({
      allowClear: true,
      placeholder: "Select an option"
    });
  });
   {% endcomment %}

  $(document).ready(function () {
    $('select').select2();
  })
</script>

{% endblock %}
