{% extends 'Clearance/homebase.html' %}
{% load custom_filters %}
{% block content %}

{% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} mx-auto" role="alert" style="color: #5143d9; max-width: 1000px;">
    {{ message }}
  </div>
  <script>
    setTimeout(function() {
      document.querySelector('.alert').remove();
    }, 3000);
  </script>
  {% endfor %}
{% endif %}

<style>
  .dt-buttons .btn {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  .dt-buttons .btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
  }

  .dt-buttons .btn:focus, .dt-buttons .btn:active {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

  table th {
    text-transform: uppercase;
    font-size: 11px;
  }

  td {
    font-size: 12px;
  }

  body {
    font-family: 'Arial Nova', sans-serif;
  }

  .dataTables_wrapper .dataTables_filter {
    display: inline-block;
    margin-right: 10px;
  }

  .dataTables_wrapper .dataTables_filter input {
    display: inline-block;
    vertical-align: middle;
  }

  .dataTables_wrapper .dt-buttons {
    display: inline-block;
    vertical-align: middle;
  }

  .job-title {
    text-align: left;
  }

  .dropdown-toggle::after {
    display: none;
  }
</style>
<body>
  &nbsp; &nbsp; &nbsp; &nbsp;<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6" >
          <strong>Clearance Form List</strong>
        </div>
      
      </div>
    </div>
    
    <div class="card-body">
  
  

    <br>
    <table class="table table-bordered" id="example">
        <thead>
            <tr>
                <th style="color: black; background-color: #958a79;">Name</th>
                <th style="color: black; background-color: #958a79;">Separation Date</th>
                <th style="color: black; background-color: #958a79;">Position</th>
                <th style="color: black; background-color: #958a79;">Finishing Time</th>
                {% comment %} <th style="color: black; background-color: #958a79;">Resignation Letter</th>
                <th style="color: black; background-color: #958a79;">Acc Of Resign</th>
                <th style="color: black; background-color: #958a79;">Notice Period Served</th>
                <th style="color: black; background-color: #958a79;">Notice Period Waived Off</th>
                <th style="color: black; background-color: #958a79;">Exit Interview By Hr</th>
                <th style="color: black; background-color: #958a79;">Full And Final Settlement</th> {% endcomment %}
                <th style="color: black; background-color: #958a79;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ClearanceFromdata in ClearanceFromdatas %}
            <tr>
                <td>{{ ClearanceFromdata.Name }}</td>
                <td>{{ ClearanceFromdata.SeparationDate|date:"d M. Y" }}</td>
                <td>{{ ClearanceFromdata.Position }}</td>
                <td>{{ ClearanceFromdata.FinishingTime }}</td>
    
               
       
        {% comment %} <td>{% if item_statuses|get_item:ClearanceFromdata.id|get_item:1 == '1' %}Yes{% elif item_statuses|get_item:ClearanceFromdata.id|get_item:3 == '0' %}No{% else %}None{% endif %}</td>
        <td>{% if item_statuses|get_item:ClearanceFromdata.id|get_item:2 == '1' %}Yes{% elif item_statuses|get_item:ClearanceFromdata.id|get_item:4 == '0' %}No{% else %}None{% endif %}</td>
        <td>{% if item_statuses|get_item:ClearanceFromdata.id|get_item:3 == '1' %}Yes{% elif item_statuses|get_item:ClearanceFromdata.id|get_item:5 == '0' %}No{% else %}None{% endif %}</td>
        <td>{% if item_statuses|get_item:ClearanceFromdata.id|get_item:4 == '1' %}Yes{% elif item_statuses|get_item:ClearanceFromdata.id|get_item:7 == '0' %}No{% else %}None{% endif %}</td>
        <td>{% if item_statuses|get_item:ClearanceFromdata.id|get_item:5 == '1' %}Yes{% elif item_statuses|get_item:ClearanceFromdata.id|get_item:8 == '0' %}No{% else %}None{% endif %}</td>
        <td>{% if item_statuses|get_item:ClearanceFromdata.id|get_item:6 == '1' %}Yes{% elif item_statuses|get_item:ClearanceFromdata.id|get_item:9 == '0' %}No{% else %}None{% endif %}</td> {% endcomment %}
                <td style="width: 150px;">
                    <span>
                        <a href="{% url 'ClearanceFrom' %}?ID={{ClearanceFromdata.id}}&EC={{ClearanceFromdata.EmpCode}}&EmpID={{ClearanceFromdata.EmpID}}&OID={{ClearanceFromdata.OrganizationID}}&Page=ClearanceFromlist" class="btn btn-primary btn-sm edit-btn"  style="color: white; text-decoration: none; font-size: 12px;" title="Edit">Edit</a>
                        {% comment %} <a onclick="return confirm('Are you sure you want to delete?')"
                           href="{% url 'ClearancefromDelete' %}?ID={{ ClearanceFromdata.id }}"
                           class="btn btn-danger btn-sm"
                           style="font-size: 12px; margin-right: 1px;">
                           Delete
                        </a> {% endcomment %}
                        <a target="_blank" href="{% url 'ClearancePdf' %}?ID={{ClearanceFromdata.id}}&EC={{ClearanceFromdata.EmpCode}}&EmpID={{ClearanceFromdata.EmpID}}&OID={{ClearanceFromdata.OrganizationID}}" class="btn btn-info btn-sm"  style="font-size: 12px;" title="View Clearance Form">View</a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    
    
    

  </div>
</div>
</div>



{% endblock content %}
