
{% load static %}

{% block content %}
<style>
    table td,table th{
      border:1px solid #dcdcde !important;
      padding:5px;
    }
    table th{
      text-align:left;
      background-color:#dedede;
      color:#434568;
    }
    {
        padding: 5px;
        text-align: left;
        background: #f29418;
        color: white;
        font-size: 20px;
        width : 40%;
    
      }
     
      .noborder td{
        border-width:0px;
      }
    
    .EntryMaster{
      border:1px solid black ;
      
    }
  </style>

  
  <div class="container1">
        
    <table class="noborder">
        <tr>
            <td width="200px">
                <img width="150px" src="https://hotelopsblob.blob.core.windows.net/hotelopslogos/NileWhite.jpg" align ="left" /> 
            </td>
            <td style="text-align:right">  
                <h2 style="font-size:18px">OOD-Guest Laundry - {{CMonth}}  {{mem.EntryYear}}</h2>               
            </td>    
                     
        </tr>
    </table>
    <br>
<br/>
<div class="card-body">
    <form action="{%url 'HOOD_Laundryviewdata' mem.id %}" method = "post">
        {% csrf_token %}                  
      </div>                                                        
    </form>
</div>

<div class="EntryMaster">
    <table  id="title" style="width:100%" class= "table table-bordered " >
        <tr>
            <th>Dry Cleaning Services </th>
            <th>{{mem.Dry_CleaningServices}}</th>      
        </tr>
        <tr>
            <th>Laundry Services </th>
            <th>{{mem.LaundryServices}}</th>      
        </tr>
        <tr>
            <th>Pressing Services  </th>
            <th>{{mem.PressingServices}}</th>      
        </tr>
        <tr>
            <th>Guest Laundry Revenue </th>
            <th>{{mem.GuestLaundryRevenue}}</th>      
        </tr>
        <tr>
            <th>Cost Of Laundry Services </th>
            <th>{{mem.Cost_OfLaundryServices}}</th>      
        </tr>
        <tr>
            <th>Total Cost Of Sales</th>
            <th>{{mem.Total_CostOfSales}}</th>      
        </tr>
        <tr>
            <th>Gross Profit(Loss)</th>
            <th>{{mem.Gross_Profit}}</th>      
        </tr>
        <tr>
            <th>Salary And Wages</th>
            <th>{{mem.SalaryAndWages}}</th>      
        </tr>
        <tr>
            <th>Bonuses&Incentives</th>  
            <th>{{mem.Bonuses_and_Incentives}}</th>
        </tr>
        <tr>
            <th>Salary Wages And Bonuses</th>
            <th>{{mem.Salary_Wages_and_Bonuses}}</th>
        </tr>
        <tr>
            <th>Employee Benefits</th>
            <th>{{mem.EmployeeBenefits}}</th>
        </tr>
        <tr>
            <th>Payroll Related Expenses</th>
            <th>{{mem.PayrollRelatedExpenses}}</th>
        </tr>
        <tr>
            <th> Payroll And Related Expenses</th>
            <th>{{mem.PayrollAndRelatedExpenses}}</th>
        </tr>
      
    </table>
    </div>
    <br>


<table id="title" style="width:100%" class= "table table-bordered " >
    <thead>
        <th width="50%"></th>
        <th>Amount</th>
        
    </thead>
    {% for x in mem1%}
    <tr>                
        <td>{{x.OOD_LaundryMaster.title}}</td> 
        <td>{{x.Amount}}
        </td>   
    </tr>
    
    {% endfor %}

    <tfoot>
        <tr>
            <th>
                Total Other Expenses
            </th>
            <th>
                {{mem.Total_Other_Expenses}}
            </th>
        </tr>
    </tfoot>
    <tfoot>
        <tr>
            <th>
                Total Expenses
            </th>
            <th>
                {{mem.TotalExpenses}}
            </th>
        </tr>
    </tfoot>
    <tfoot>
        <tr>
            <th>
               Department Income (Loss)
            </th>
            <th>
                {{mem.DepartmentIncome}}
            </th>
        </tr>
    </tfoot>
</table>
</div>

<script>

    $(function(){

        $(".calc").blur(function(){
            DoCal();

        })      
    })

    var DoCal=function(){

        var TotalGuestLaundry=0;
        var a = $("input[name='Dry_CleaningServices']").val();
        a = parseFloat(a);
        a = isNaN(a)?0:a;

        var b = $("input[name='LaundryServices']").val();
        b = parseFloat(b);
        b = isNaN(b)?0:b;

        var x = $("input[name='PressingServices']").val();
        x = parseFloat(x);
        x = isNaN(x)?0:x;

        TotalGuestLaundry = a+b+x;
        $("input[name='GuestLaundryRevenue']").val( TotalGuestLaundry.toFixed(2));

        var e = $("input[name='Cost_OfLaundryServices']").val();
        e = parseFloat(e);
        e = isNaN(e)?0:e;
        $("input[name='Total_CostOfSales']").val(e.toFixed(2));
       
        $("input[name='Gross_Profit']").val(( TotalGuestLaundry - e).toFixed(2));
        var GrossProfit = (TotalGuestLaundry - e);

        
        var TotSalWag=0;
        var c = $("input[name='SalaryAndWages']").val();
        c = parseFloat(c);
        c = isNaN(c)?0:c;
               
        var TotSalWag=0;
        var d = $("input[name='Bonuses_and_Incentives']").val();
        d = parseFloat(d);
        d = isNaN(d)?0:d;
        TotSalWag = c+d;
        $("input[name='Salary_Wages_and_Bonuses']").val(TotSalWag.toFixed(2));



        var f = $("input[name='EmployeeBenefits']").val();
        f = parseFloat(f);
        f = isNaN(f)?0:f;

        $("input[name='PayrollRelatedExpenses']").val(f.toFixed(2));

        $("input[name='PayrollAndRelatedExpenses']").val((TotSalWag + f).toFixed(2));

        
        var TotalAmount=0;
        $("input[name*='Amount_']").each(function(){
                    var a = $(this).val();
                    a = parseFloat(a);
                    a = isNaN(a)?0:a;
                    TotalAmount= TotalAmount+a;
            })
        $("input[name='Total_Other_Expenses']").val(TotalAmount.toFixed(2))

    
        $("input[name='TotalExpenses']").val((TotalAmount + f + TotSalWag ).toFixed(2))
        var TotalExpenses = (TotalAmount + f + TotSalWag );
       
        $("input[name='DepartmentIncome']").val((GrossProfit-TotalExpenses).toFixed(2))
       
      
    }
</script>
{% endblock content %}