
<!-- New - View Actual - Element -->

<li class="list-unstyled"><a href="{% url "OpenPositionList" %}" class="nav-link dropdown-main-color text-white">Open Position</a></li>
<li class="list-unstyled"><a href="{% url "ResumeShorting" %}" class="nav-link dropdown-main-color text-white">Resumes</a></li>
<li class="list-unstyled"><a href="{% url "Qrcodegenerated" %}"class="nav-link dropdown-main-color text-white">QR Code</a></li>
<li class="list-unstyled"><a href="{% url "Notification_Schedule_list" %}" class="nav-link dropdown-main-color text-white">Notification</a></li>

<li class="list-unstyled"><a href="{% url "Upload_Resume_View" %}" class="nav-link dropdown-main-color text-white">Upload Trainees Resume</a></li>


