<!-- New - Example Element Element -->
<div class="nav-element-container d-flex gap-4">
    <!-- New - Element -->
    {% comment %} <li class="list-unstyled"><a class="nav-link dropdown-main-color text-white" href="/Shoe_issue/add">Add</a></li> {% endcomment %}
    <li class="list-unstyled"><a class="nav-link dropdown-main-color text-white" href="/pacer/deshboard_hod"> HOD Deshboard</a></li>
    <li class="list-unstyled"><a class="nav-link dropdown-main-color text-white" href="/pacer/task_list"> Task List</a></li>
    <li class="list-unstyled"><a class="nav-link dropdown-main-color text-white" href="/pacer/masterlist"> Admin </a></li>
    <li class="list-unstyled"><a class="nav-link dropdown-main-color text-white" href="/pacer/filtertask">Dashboard</a></li>
    
    <!-- New - Element -->
    <!-- <li class="nav-item dropdown has-arrow main-drop list-unstyled ">
        <a href="#" class="dropdown-toggle nav-link dropdown-main-color text-white" data-bs-toggle="dropdown">
            <span>demo</span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
            <a class="dropdown-item dropdown-item-color" href="sub-demo">Sub-demo</a>
        </div>
    </li> -->
    
</div>


