{% extends 'linen/homebase.html' %}
{% load static %}


{% block content %}

{% load widget_tweaks %}


  <!--- signup page for doctor by admin(sumit)  ---------->
  <form method="post" action={% url 'LinenInventoryViewData' %}  enctype="multipart/form-data">
    {{ Linen_Inventory_Sheet }}
    {% csrf_token %}
    <div class="container register-form">
      <div class="card card-primary">
        <div class="card-header">
          <p>Your Linen Invertory Order </p>
        </div>

        <div class="card-body">
            <input type="hidden" name="ID" value="{{Ed.id}}">

          <div class="">
             <div class="row">
                 <div class="col-sm-3">
                     <label>From</label>
                      {{Ed.From}}
                    </div>
                 <div class="col-sm-3">
                      <label>To</label>
                      {{Ed.To}}
                    </div>
                </div>

            </div>
<br/>
                    <div class='row'>
                      <style>
                        h5 {text-align: center;}
                      </style>
                        <div class="col-sm-12">
                            <br>
                           <th><h5> Return of Hotel Property<h5></th>
                        </br>
                        </div>
                      </div>
                
                    <table class="table table-bordered">
                            <tr>  
                                  <th width="300">Item</th>
                                  <th>Laundry</th>
                                  <th>Linen_Room</th>
                                  <th>Stores</th>
                                  <th>Missing</th>
                                  <th>Total</th>
                            </tr>
                     

                      {% for i in DbItemMaster %}
                            <tr>
                              <td>{{i.Linen_Item_Master.Item_Title_Name}}</td>
                              <td class="rb">

                                </td>
                                {% comment %} <input type="hidden"  rows=2 value="{{i.id}}" name="ItemID_{{ forloop.counter0 }}" > {% endcomment %}
                                  <td>
                                     {{i.Laundry}}
                                  </td>
                                  <td>
                                     {{i.Linen_Room}}
                                  </td>
                                  <td>
                                     {{i.Stores}}
                                  </td>
                                  <td>
                                    {{i.Missing}}
                                 </td>
                                 <td>
                                    {{i.Total}}
                                 
                                 </td>
                              {% comment %} <td>{{i.Clerance_Item_Master.Department}}</td> {% endcomment %}
                            
                                {% comment %} {{i.ReceivedBy}}  {% endcomment %}
                                {% if forloop.last %}
                                <input type="hidden"  rows=2 value="{{forloop.counter }}" name="TotalItem" >
                                {% endif %}
                              </td>
                            </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
        </div>

      </div>
    </div>

{% endblock content %}