

<!-- New - View Actual - Element -->
<li class="list-unstyled">
    <a href="{% url 'NewEmployeeDataForm' %}?D=NE" class="nav-link dropdown-main-color text-white ">New Employee</a>
</li>

<li class="list-unstyled">
    <a href= "{% url 'EmployeeList' %}" class="nav-link dropdown-main-color text-white ">Employee List</a>
</li>

<li class="list-unstyled">
    <a href= "{% url 'DataMissingReport' %}" class="nav-link dropdown-main-color text-white ">Data Missing Report</a>
</li>

<li class="list-unstyled">
    <a href= "{% url 'Change_Reporting_To' %}" class="nav-link dropdown-main-color text-white">Change Reporting</a>
</li>


